
body{
    overflow-x: hidden;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0;
}



header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul > li a{
    text-decoration: none;
    padding: 8px 10px;
    color: blue;
    font-size: 18px;
}

header img{
    max-width: 200px;
}

nav ul > li a:hover{
    color: white;
    background-color: black;
}

.first-child1{
    position: relative;
}

.drop-down1{
    display: none;
    list-style: none;
    position: absolute;
    padding: 10px 5px;
    top: 28px;
    z-index: 4000;
}

.drop-down1 li a{
    display: block;
}

.first-child1 li:hover .drop-down1{
    display: block;
    background-color: #4e9dd3;
}


.drop-down1 > li a{
    padding: 0;
    color: #ffffff;
}

.drop-down1 > li:hover a{
    color: black;
    background-color: #ffffff;
}

.first-div{
    width: 100%;
    background-color: #4e9dd3;
    padding: 1px;
    position: sticky;
    top: 0;
    z-index: 3000;
}

.first-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    position: relative;
}

.first-child > li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.first-child > li a:hover{
    color: #ffffff;
    background-color: #000000;
    
}

.drop-down{
    display: none;
    list-style: none;
    position: absolute;
    background-color: #252e36;
    padding: 10px 0;
    top: 28px;
    z-index: 4000;
}

.first-child li:hover .drop-down{
    display: block;
    background-color: #4e9dd3;
}

.drop-down li{
    padding: 4px 0;
}

.drop-down li a{
    display: block;
}

.drop-down> li a:hover{
    color: #000000;
    background-color: #ffffff;
    
}

.image-div{
    position: relative;
}

.image-div > img{
    width: 100%;
}

.relative > p{
    max-width: 400px;
    position: absolute;
    text-align: center;
    padding: 20px;
    background-color: #00000079;
    color: white;
    left: 38%;
    bottom: 0;
    z-index: 1;
}



.try-float{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}


.float-div{
    width: 50%;
    box-shadow: 0px 0px 2px 2px #f6f6f6;
    padding: 10px;
}

.others-div{
    width: 50%;
    box-shadow: 0px 0px 1px 4px #f6f6f6;
    padding: 15px;
}


.float-div img{
    float: left;
    max-width: 300px;
    margin-right: 8px;
    border-radius: 4px;
}

.third-div > h2{
    text-align: center;
}


.p-tags{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
}


.p-tags span{
    color: #001eff;
}

.others-div > h2, h4{
    text-align: center;
}

.picture {
    display: flex;
    gap: 4px;
    margin-top: 40px;
}

.picture img{
    max-width: 110px;
}

.picture span{
    font-weight: bold;
    color: #000000;
}









.last-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    box-shadow: 0px 2px 2px 4px #d2d2d2;
}

.overflow{
    width: 700px;
    max-height: 400px;
    overflow-y: scroll;
    box-shadow: 0px 8px 2px 4px #d2d2d2;
    padding: 10px;
}

.first-flex{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.first-flex img{
    max-width: 150px;
}

.first-flex > div > h4{
    margin: 0;
}

.last-flex-div,.last-flex-2div h2{
    text-align: center;
}

.flex-div2{
    width: 700px;
    max-height: 400px;
    overflow-y: scroll;
    padding: 5px;
    box-shadow: 0px 8px 2px 4px #d2d2d2;
    padding: 20px;
}

.flex-div2 span{
    display: block;
    color: red;
    font-weight: bold;
}

.blue{
    color: #001eff;
    font-weight: bold;
}

.flex-div2 button{
    background-color: #4e9dd3;
    border: none;
    padding: 6px 6px;
    display: block;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.flex-div2 button:hover{
    background-color: #36759f;
}

.outside button{
    background-color: #4e9dd3;
    border: none;
    padding: 10px 8px;
    display: block;
    margin: 20px auto;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.outside button:hover{
    background-color: #36759f;
}

date{
    display: block;
    color: #252e36;
}



















footer{
    background-color: #252e36;
    padding: 20px;
}

footer div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
}

footer > div section a{
    display: block;
    padding: 1px;
    color: white;
    text-decoration: none;
}

footer > div section a:hover{
    text-decoration: underline;
}

footer > p{
    text-align: center;
    color: white;
}
